@import 'https://unpkg.com/open-props';
@import 'https://unpkg.com/open-props/normalize.min.css';

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.5rem;
}

h5 {
  font-size: 2rem;
}

.main {
  width: 50rem;
}

.section-title {
  padding: 1rem;
}

.most-popular-title {
  display: inline-block;
  /* padding-left: 2rem; */
  /* float: left; */
}

.most-popular-header {
  padding: 2rem;
}

.most-popular-scroll-btn {
  display: inline;
  float: right;
  /* margin-right: 2rem; */
  font-size: 2rem;
  color: black;
  font-weight: 900;
  font-size: x-large;
}

.media-scroller {
  --_spacer: var(--size-3);
  display: grid;
  /* gap: var(--_spacer); */
  grid-auto-flow: column;
  grid-auto-columns: 70%;
  grid-auto-rows: 50rem;

  /* padding: 0 var(--_spacer) var(--_spacer); */

  overflow-x: auto;
  overscroll-behavior-inline: contain;
}

.no-scrollbar {
  scrollbar-width: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.media-element {
  /* display: grid;
  grid-template-rows: min-content; */
  /* gap: var(--_spacer);
  padding: var(--_spacer); */
  /* background: var(--surface-2); */
  border-radius: var(--radius-2);
  /* box-shadow: var(--shadow-2); */
  position: relative;
  margin: auto;
}

.media-element > img {
  /* inline-size: 100%; */
  /* aspect-ratio: 16 / 9; */
  object-fit: cover;
  width: 32rem;
  height: 50rem;
  border-radius: 1rem;
}

.popular-item-title {
  position: absolute;
  bottom: 5rem;
  left: 4rem;
  color: whitesmoke;
  font-weight: bolder;
  word-wrap: normal;
  width: 16.5rem;
  font-size: 2.4rem;
}
.popular-item-tag {
  background-color: rgb(255, 255, 255);
  color: black;
  border-radius: 0.4rem;
  font-weight: 500;
  font-size: 1.5rem;
  display: inline;
  padding: 0.4rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
}
.snaps-inline {
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: var(--_spacer, 1rem);
}

.snaps-inline > * {
  scroll-snap-align: start;
}

/* general styling */

.menu-grid {
  width: 50rem;
  /* margin: 6px auto; */
  /* margin-left: 10px; */
  padding: 1rem;

  display: grid;
  /* grid-auto-flow: row; */
  grid-template-rows: 5rem;
  grid-auto-rows: 20rem;

  /* grid-auto-columns: minmax(200px, 1fr); */
  /* grid-template-columns: repeat(1, 1fr); */
  grid-gap: 3rem 3rem;
}

.grid-item {
  /* background-color: white; */
  padding: 2rem;
  color: black;
  font-size: 3rem;
  font-family: sans-serif;
  /* border: 1px solid black; */
}

.menu-items {
  grid-column: 1 / -1;
  /* padding: 10px; */
  /* margin: 10px; */
  /* grid-row: 2 / span 1; */
}

.footer {
  grid-column: 1 / -1;
  /* grid-row: 6 / 7; */
}

.media-element-2 > img {
  /* inline-size: 100%; */
  /* aspect-ratio: 16 / 9; */
  /* object-fit: cover; */
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.footer {
  margin: 0 auto;
}
.footer-title {
  font-weight: 800;
  font-size: 2.5rem;
}
.footer-brand {
  color: rgb(246, 84, 138);
  font-weight: 500;
  font-size: 2.4rem;
}
.media-element-2 {
  /* padding: 20px; */
  position: relative;
}

.menu-item-title {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  color: whitesmoke;
  font-weight: bolder;
  font-size: 2.4rem;
}

@media (max-width: 400px) {
  html {
    font-size: 46.5%;
  }
}
