@import 'https://unpkg.com/open-props';
@import 'https://unpkg.com/open-props/normalize.min.css';

.main {
  width: 500px;
}

.section-title {
  padding: 10px;
}

.media-scroller {
  --_spacer: var(--size-3);
  display: grid;
  /* gap: var(--_spacer); */
  grid-auto-flow: column;
  grid-auto-columns: 70%;
  grid-auto-rows: 500px;

  /* padding: 0 var(--_spacer) var(--_spacer); */

  overflow-x: auto;
  overscroll-behavior-inline: contain;
}

.no-scrollbar {
  scrollbar-width: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.media-element {
  /* display: grid;
  grid-template-rows: min-content; */
  /* gap: var(--_spacer);
  padding: var(--_spacer); */
  /* background: var(--surface-2); */
  border-radius: var(--radius-2);
  /* box-shadow: var(--shadow-2); */
  position: relative;
  margin: auto;
}

.media-element > img {
  /* inline-size: 100%; */
  /* aspect-ratio: 16 / 9; */
  object-fit: cover;
  width: 330px;
  height: 500px;
  border-radius: 10px;
}

.popular-item-title {
  position: absolute;
  bottom: 50px;
  left: 40px;
  color: whitesmoke;
  font-weight: bolder;
  word-wrap: normal;
  width: 150px;
}

.snaps-inline {
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: var(--_spacer, 1rem);
}

.snaps-inline > * {
  scroll-snap-align: start;
}

/* general styling */

.menu-grid {
  width: 500px;
  /* margin: 6px auto; */
  /* margin-left: 10px; */
  padding: 10px;

  display: grid;
  /* grid-auto-flow: row; */
  grid-template-rows: 50px;
  grid-auto-rows: 150px;
  /* grid-template-columns: repeat(1, 1fr); */
  grid-gap: 30px 30px;
}

.grid-item {
  /* background-color: white; */
  padding: 20px;
  color: black;
  font-size: 30px;
  font-family: sans-serif;
  /* border: 1px solid black; */
}

.menu-items {
  grid-column: 1 / -1;
  /* padding: 10px; */
  /* margin: 10px; */
  /* grid-row: 2 / span 1; */
}

.footer {
  grid-column: 1 / -1;
  /* grid-row: 6 / 7; */
}

.media-element-2 > img {
  /* inline-size: 100%; */
  /* aspect-ratio: 16 / 9; */
  /* object-fit: cover; */
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.footer {
  text-align: center;
}
.footer-title {
  align-items: center;
}
.footer-brand {
  color: rgb(246, 84, 138);
}
.media-element-2 {
  /* padding: 20px; */
  position: relative;
}

.menu-item-title {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: whitesmoke;
  font-weight: bolder;
}
